body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}


.container-fluid {

  background-color: #F3F5F5;
}



  .head {
  font-family: 'Karma', serif;
  
}

.head1 {
  font-family: 'Noto Sans', sans-serif;
  margin-right: 9px;
  font-size: 1.3rem;
}

 .head {
  font-size: 3.6rem;
  color: #217FF9;
  margin-top: 10px;
  text-shadow: 3px 3px 6px #B5B7B7;
}

.mail {
  margin-top: 38px;
  font-family: serif;
  color: #6F7070;
}

.mail .icons {

  margin-left: 25px;
  font-size: 13px;
}

.mail a{

  text-decoration: none;
  color: #6F7070;
  font-family: sans-serif;
}

.mail a:hover {

  color: orange;
}



/* FOR MOBILE SCREEN */

@media only screen and (max-width: 700px) {

  .head {

      font-size: 2.5rem ;
  }

  .head1 {

    font-size: 1rem;
  }

  .mail {

    font-size: 15px;
    color: 
  }
}

@media only screen and (max-width: 450px) {

  .head {

    font-size: 2.3rem;
    margin-top: 0px;
  }

  .head1 {

    font-size: 1rem;
  }

  .mail {
    font-size: 13px;
        margin-top: 0px;
  }

  .container-fluid img {

    width: 60px;
    height: 60px;
  }

  .mail .icons {

    font-size: 14px;
    margin-left: 15px;
  }

  @media only screen and (max-width: 345px) {

    .head {

      font-size: 2rem;
    }

    .head1 {

      font-size: .7rem
    }

    .mail .icons {

    font-size: 12px;
    margin-left: 13px;
  }
  }
}



/*///////////// FOR NAVBAR ////////////// */

.navbar {

  background-color: #267fab;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 5px 2px 3px black;
  position: sticky;
}



.navbar ul{
     text-align: center;
}


.navbar ul li {

  margin-right: 30px;
  font-family: 'Jaldi', sans-serif;
}

 .navbar .navbar-nav .nav-item .nav-link:hover{
         
         background-color: rgb(0,0,0,0.6);
       border-radius: 5px;
       display: block;
       transform: scale(1.1);
}

.navbar .navbar-nav .nav-item .dropdown-menu {

  background-color: #F3F5F5;
  border: 1px solid #B5B6B6;
  border-radius: 3px;

}



.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
       
    color: #ffffff;
    background-color: #727170;

}


.events{
      
      background-color: none;

    }

/*CSS FOR THE NAME OF EVENTS SECTION***/
    .names{
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .names h5{
        
        font-family: 'Jaldi', sans-serif;
        padding-bottom: 16px;
        
    }

    .names center h1 {
       
    animation: colorsss  2s infinite ;
    font-family: cursive;
    
    font:50px;
    }
    @keyframes colorsss{
        
        50%{color: black;}
        100%{color: white;
        text-shadow: 2px 2px 2px black;}
    }
    .names p{
      font-family: 'Jaldi', sans-serif;
      color: grey;
      font-size: small;
    }
    .names .subt1{
      font-family: 'Jaldi', sans-serif;
      font-size: large;
    }

    .lead{
       
      font-family: 'Jaldi',sans-serif;
      font-size: 19px;

    }

    .imgabout{
      height: 100px;
      margin-bottom: 20px;
     
    }
    .imgabout:hover{
      transform: scale(1.1);
      transition-duration: 1s ease;
      cursor: pointer;
      transition-timing-function: linear;
    }
/*CSS FOR THE NAME OF EVENTS SECTION ENDS HERE***/

/*CSS FOR THE MOTIVATION SECTION**********/
    .introcolors p{
        font-family: 'Jaldi' ,sans-serif;
        color: cornsilk;
        font-size: large;
    }
    .colorcols{
        padding: 40px;
        text-align: center;
       
    }

    .colorcols img{
        height: 80px;
        margin-bottom: 20px;
        opacity: 0.5;
        border-radius: 5px;
    }
/*CSS FOR THE MOTIVATION SECTION ENDS**********/

/*CSS FOR THE EVENT SECTIONS. ITS COMMON FOR ALL********/
      .display-4{
        text-align: center;
        font-family: 'Jaldi', sans-serif;
        font-size: 40px;
        font-weight: 600;
      }
      .display-4 span{
        text-shadow: 1px white;!important
      }
      .divabout{
        padding-bottom: 120px;
        padding-top: 50px;
        position: relative;
      }
      .imgyay{
        box-shadow: 10px 10px 5px grey;
        margin-bottom: 20px;
      }
      .checkhere{
        position: absolute;
        top: 0;
        right: 20px;
        font-size: large;
        background-color: black;
        display: block;
        padding: 10px;
        opacity: 0;
      }
      .checkhere a{
        color: white;
      }
      .checkhere a:hover{
        text-decoration: none;
        cursor: pointer;
        color: white;
      }

      .divabout:hover .move-right{
          transform: translate(0,-15px);
          -webkit-transform: translate(0px,-15px); /** Chrome & Safari **/
          -o-transform: translate(0,-15px); /** Opera **/
          -moz-transform: translate(0,-15px); /** Firefox **/
      }
      .object {
       
          transition: all 0.7s ease-in-out;
          -webkit-transition: all 0.7s ease-in-out; /** Chrome & Safari **/
          -moz-transition: all 0.7s ease-in-out; /** Firefox **/
          -o-transition: all 0.7s ease-in-out; /** Opera **/
      }
      @-webkit-keyframes pop-in {
          0% { opacity: 0; -webkit-transform: scale(0.5); }
          100% { opacity: 1; -webkit-transform: scale(1); }
          }
          @-moz-keyframes pop-in {
          0% { opacity: 0; -moz-transform: scale(0.5); }
          100% { opacity: 1; -moz-transform: scale(1); }
          }
          @keyframes pop-in {
          0% { opacity: 0; transform: scale(0.5); }
          100% { opacity: 1; transform: scale(1); }
      }
      .divabout:hover .checkhere{
          opacity: 1;
          -webkit-animation:pop-in 0.5s;
          -moz-animation:pop-in 0.5s;
          -ms-animation:pop-in 0.5s;
      }
/****CSS FOR EVENTS ENDS HERE****/

/**mediaa query**/
@media only screen and (max-width: 1080px){
  .divabout p{
    font-size: small;
  }
}
@media only screen and (max-width: 767px){
  .divabout p{
    font-size: larger;
  }
}
@media only screen and (max-width: 845px){
  .imgabout{
    height: 70px;
  }
}
@media only screen and (max-width: 570px){
 

  .imgabout{
    height: 100px;
  }

  .names h5{

    font-size: 16px;
  }

  .lead{

    font-size: 14px;
  }

  .letters{
    font-size: x-large;
  }
  .line1{
    display: none;
  }
  .display-4{
    font-size: 25px;
    font-weight: 600;
  }
  .checkhere{
    font-size: x-small;
  }

  .names .subt1{

    font-size: 13px;
  }
}




/*


.footer {

  background-color: #2C2D2D;
}

.footer p {

  font-size: 13px;
  font-family: sans-serif;
  color: #A0A1A2;
  text-align: center;
  margin-top: 60px;
}

.footer .icon {

  color: #F9A005;
}

.footer .icon:hover{

  color: #ccc;
}

.footer ul {
  list-style: none;
  margin-top: 60px;
  padding-bottom: 40px;
}

.footer ul li {
  display: inline;
  margin-right: 15px;
}

.footer .icon_head {

  font-size: 15px;
  font-family: 'Jaldi', sans-serif;
  color: #F9A005; 
}

*/


footer {
 
    overflow-x: hidden;
    padding: 14vmin 18vmin;
    background-color:#323232;
    font-family: sans-serif;
    
    }
   
    footer p > span {
    color: #ff512f;
    }
   
   
   
    footer .column i {
    color: #dd2476;
    }
   
    /* It is Adjacent sibling combinator */
   
    footer .column i + i {
    padding: 0 0.5em;
    }

